
#contenedor {
    min-width: 1200px;
    max-width: 2000px;
    align-items: center;
    background-color: 	#4B0082;
}
#cabecera {
    height: 150px;
    width: 100%;
    background-color: violet;
}
#pie {
    height: 100px;
    width: 100%;
    background-color: plum;
    clear: both;
}
#menu_contenido {
    height: fit-content;
    min-width: 100%;
    max-width: 100%;
    background-color: rebeccapurple;
}
#contenido {
    width: 80%;
    height: fit-content;
    min-height: 518px;
    float: left;
    background-color: #8A2BE2;
}
#menu {
    width: 20%;
    height: fit-content;
    background-color: slateblue;
    float: left;
}


li {
    display: block;
    background-color: pink;
    width: fit-content;
   }
   
li:hover {
    cursor: pointer;
}
   
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    display: none;
}
   
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
   
ul li ul li {
    clear: both;
    width: 100%;
}